/* ----- Containers ----- */

.root-anorch {
    -fx-background-color: transparent;
}
.drop-shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-color: white;
}

.button {
    -fx-background-radius: 0em;
}

.dark-blue {
    -fx-graphic: url("icons/color-button-dark-blue.png");
    -fx-background-color: transparent;
    -fx-border-color: #1f3a82;
}
.brown {
    -fx-graphic: url("icons/color-button-brown.png");
    -fx-background-color: transparent;
    -fx-border-color: #7e5743;
}
.pink {
    -fx-graphic: url("icons/color-button-pink.png");
    -fx-background-color: transparent;
    -fx-border-color: #cc156f;
}
.purple {
    -fx-graphic: url("icons/color-button-purple.png");
    -fx-background-color: transparent;
    -fx-border-color: #742889;

}
.light-blue {
    -fx-graphic: url("icons/color-button-light-blue.png");
    -fx-background-color: transparent;
    -fx-border-color: #00a6e4;
}
.green {
    -fx-graphic: url("icons/color-button-green.png");
    -fx-background-color: transparent;
    -fx-border-color: #3da646;
}
.yellow {
    -fx-graphic: url("icons/color-button-yellow.png");
    -fx-background-color: transparent;
    -fx-border-color: #f3e700;
}
.red {
    -fx-background-repeat: repeat-x;
    -fx-background-image: url("icons/color-button-red.png");
    -fx-background-color: transparent;
    -fx-border-color: #c82128;
}
.theme {
    -fx-graphic: url("icons/color-button-theme.png");
    -fx-border-color: #3ca695;
    -fx-background-color: transparent;
}

.themeColor {
    -fx-background-color: #11b0a5;
    -fx-fill:#11b0a5;
}

.whiteColor {
    -fx-background-color: #ffffff;
}

.noBorder {
    -fx-border-style: none;
}

.noColor {
    -fx-background-color: transparent, white, transparent, white;
}

.processing-font {
    -fx-font-family: cursive;
    -fx-font-size: 14;
}
/* ----- Buttons ----- */

.download-button {
    -fx-graphic: url('icons/download.png');
    -fx-background-color: transparent;
}
.download-button:pressed {
    -fx-graphic: url("icons/download.png");
    -fx-background-color: rgba(0, 0, 0, 0.15);
}


.upload-button {
    -fx-graphic: url('icons/upload-button.png');
    -fx-background-color: transparent;
}

.upload-button:pressed {
    -fx-graphic: url("icons/upload-button.png");
    -fx-background-color: rgba(0, 0, 0, 0.15);
}


.close-button {
    -fx-graphic: url('icons/close-button.png');
    -fx-background-color: transparent;
}
.close-button:pressed {
    -fx-graphic: url("icons/close-button.png");
    -fx-background-color: rgba(0, 0, 0, 0.15);
}


.add-button {
    -fx-graphic: url('icons/add-button.png');
    -fx-background-color: transparent;
}
.add-button:pressed {
    -fx-graphic: url("icons/add-button.png");
    -fx-background-color: rgba(0, 0, 0, 0.15);
}


.remove-button {
    -fx-graphic: url('icons/remove-button.png');
    -fx-background-color: transparent;
}
.remove-button:pressed {
    -fx-graphic: url("icons/remove-button.png");
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

/* ----- Text Area ----- */
/*
.text-area {
    -fx-font-size: 25pt;
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white,
            linear-gradient(
                from 0px 0px to 0px 17px,
                repeat,
                #cfcfcf,
                #cfcfcf 6.25%,
                #ffffff 6.25%,
                #ffffff
    );
}

.text-area:focused .content {
    -fx-background-color:
            transparent, white, transparent, white,
            -fx-control-inner-background,
            -fx-faint-focus-color,
            linear-gradient(
            from 0px 0px to 0px 11px,
            repeat,
            gainsboro,
            gainsboro 6.25%,
            cornsilk 6.25%,
            cornsilk
    );
}
*/

.noteArea {
    -fx-font-size: 24pt;
    -fx-font-family: cursive;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.noteArea .content {
    -fx-background-color: transparent, white, transparent, white;
}

.noteArea:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.noteArea:focused {
    -fx-highlight-fill: #7ecfff;
}

.noteArea .content {
    -fx-padding: 10px;
    -fx-text-fill: #a5a5a5;
    -fx-highlight-fill: #7ecfff;
}
/* ----- Scroll Bar ----- */

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:white;
    -fx-border-color:white;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* ----- ButtonColor buttons ----- */


